.dice {
    background-image: url(../images/dice.png);
    width: 355px;
    height: 355px;
    float: left;
    background-position-x: -17px;
}
.dice.d1{
    background-position-y: -10px;
    background-position-x: 0px;
}
.dice.d2{
    background-position-x: -365px;
}
.dice.d3{
    background-position-x: -760px;
}
.dice.d4{
    background-position-y: -445px;
}
.dice.d5{
    background-position-y: -445px;
    background-position-x: -375px;
}
.dice.d6{
    background-position-y: -445px;
    background-position-x: -760px;
}