<?php declare(strict_types=1);
/**
 * @package PigGame
 * @author  Michael Sagan
 */
 /** @var $block \MichalSagan\PigGame\Block\Index\Index */
?>
<h1>Pig Game</h1>
<div data-bind="scope: 'pigGame'">
    <?= $this->getLayout()
        ->createBlock("Magento\Framework\View\Element\Template")
        ->setKey(1)
        ->setTemplate("MichalSagan_PigGame::dice.phtml")->toHtml()
    ?>
    <?= $this->getLayout()
        ->createBlock("Magento\Framework\View\Element\Template")
        ->setKey(2)
        ->setTemplate("MichalSagan_PigGame::dice.phtml")->toHtml()
    ?>
    <button data-bind="click: roll"><?= __('Roll')?></button>
    <button data-bind="click: turn, enable: btnTurn"><?= __('Turn')?></button>
    <table>
        <thead>
            <tr>
                <th><?= __('Round')?></th>
                <!-- ko foreach: players -->
                <th data-bind="text: $data"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="foreach: game">
            <tr>
                <th data-bind="text:round"></th>
                <td data-bind="text:scores[0]"></td>
                <td data-bind="text:scores[1]"></td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
        <th><?= __('Totals')?></th>
            <!-- ko foreach: totals -->
            <th data-bind="text: $data"></th>
            <!-- /ko -->
        </tr>
        </tfoot>
    </table>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "pigGame": {
                    "component": "MichalSagan_PigGame/js/view/pigGame",
                    "players": ["Player 1", "Player 2"]
                }
            }
        }
    }
}
</script>